<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Резюме</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th style="text-align: center">ID</th> 
     <th style="text-align: center" width="200">TITLE</th> 
     <th style="text-align: center">PAYMENT</th> 
     <th style="text-align: center">AGE</th> 
    </tr>                          
    <tr class="resumes"> 
     <td class="id" style="text-align: center">31344412</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/rukovoditel-proektnogo-otdela-31344412.html">Руководитель проектного отдела</a></td> 
     <td class="payment" style="text-align: center">90&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">30</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">4941720</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/glavnyj-inzhener-proekta-4941720.html">Главный инженер проекта / Руководитель проекта</a></td> 
     <td class="payment" style="text-align: center">90&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">30</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">32850710</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/analitik-32850710.html">Аналитик</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">34</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">7250068</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/inzhener-proektirovschik-asutp-7250068.html">Инженер-проектировщик АСУТП / КИПиА</a></td> 
     <td class="payment" style="text-align: center">55&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">29</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">4416989</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/inzhener-tehnicheskoj-podderzhki-4416989.html">Инженер технической поддержки</a></td> 
     <td class="payment" style="text-align: center">43&nbsp;500 руб.</td> 
     <td class="age" style="text-align: center">38</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">25142839</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/veb-master-25142839.html">Веб-мастер / Веб-разработчик / Веб-программист</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">28</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">35715673</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/operator-dispetcher-35715673.html">Оператор-диспетчер</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">32</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">4588972</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/ispolnitelnyj-direktor-4588972.html">Исполнительный директор, ИТ-директор, CIO, руководитель направления, руководитель подразделения</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">31</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">25946248</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/veduschij-inzhener-asu-25946248.html">Ведущий инженер АСУ / АИИС КУЭ</a></td> 
     <td class="payment" style="text-align: center">90&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">32</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">35551517</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/inzhener-35551517.html">Инженер</a></td> 
     <td class="payment" style="text-align: center">50&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">26</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">20828004</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/glavnyj-inzhener-proektov-20828004.html">Главный инженер проектов</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">40</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">24693105</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/biznes-tehnolog-24693105.html">Бизнес-технолог</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">52</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">7006633</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/rukovoditel-it-otdela-7006633.html">Руководитель IT-отдела</a></td> 
     <td class="payment" style="text-align: center">130&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">33</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">34916345</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/operator-call-centra-34916345.html">Оператор call-центра</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">40</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">2124246</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/specialist-tehnicheskoj-podderzhki-2124246.html">Специалист технической поддержки</a></td> 
     <td class="payment" style="text-align: center">30&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">30</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">23425166</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/sistemnyj-administrator-23425166.html">Системный администратор</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">26</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">32877274</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/menedzher-call-centra-32877274.html">Менеджер call-центра</a></td> 
     <td class="payment" style="text-align: center">30&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">23</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">28703441</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/administrator-baz-dannyh-28703441.html">Администратор баз данных</a></td> 
     <td class="payment" style="text-align: center">60&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">34</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">23943425</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/inzhener-metallurg-23943425.html">Инженер-металлург</a></td> 
     <td class="payment" style="text-align: center">100&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">25</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">34989600</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/operator-call-centra-34989600.html">Оператор call-центра</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">20</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">34551821</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/administrator-34551821.html">Администратор, оператор call-центра</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">24</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">34055155</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/smm-menedzher-34055155.html">SMM менеджер</a></td> 
     <td class="payment" style="text-align: center">По договоренности</td> 
     <td class="age" style="text-align: center">22</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">29275192</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/sistemnyj-administrator-29275192.html">Системный администратор</a></td> 
     <td class="payment" style="text-align: center">40&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">32</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">34282847</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/rukovoditel-it-34282847.html">Руководитель IT</a></td> 
     <td class="payment" style="text-align: center">200&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">33</td> 
    </tr>
    <tr class="resumes"> 
     <td class="id" style="text-align: center">23130881</td> 
     <td class="title" style="text-align: center"><a href="https://www.superjob.ru/resume/inzhener-23130881.html">Инженер</a></td> 
     <td class="payment" style="text-align: center">60&nbsp;000 руб.</td> 
     <td class="age" style="text-align: center">25</td> 
    </tr>
    <tr class="resumes template" style="display: none"> 
     <td class="id" style="text-align: center"></td> 
     <td class="title" style="text-align: center"><a href="url"></a></td> 
     <td class="payment" style="text-align: center"></td> 
     <td class="age" style="text-align: center"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>